.ui.visible.sidebar.inverted.vertical.menu(v-if='logged')
	div.item
		h4.ui.grey.header {{user.name}}
	a.item(v-link="'transactions'") Transactions

.ui.grid.container
	.ui.main.grid
		.ui.two.column.row
			router-view
