doctype html
html(lang="en")
	head
		title Gravestone

		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')

		link(href='//cdn.jsdelivr.net/semantic-ui/2.1.8/semantic.min.css', rel='stylesheet')
		link(href='main.css', rel='stylesheet')

	body
		div#app

	script(src='main.js')
	script(defer, src='//cdn.jsdelivr.net/g/jquery@3.0.0-beta1,semantic-ui@2.1.8')
